env
myvenv

.git
.gitignore

CommUnitySocial/__pycache__/
CommUnitySocial/*/__pycache__/
CommUnitySocial/*/*/__pycache__/
CommUnitySocial/*/*/*/__pycache__/

landing/__pycache__/
landing/*/__pycache__/
landing/*/*/__pycache__/
landing/*/*/*/__pycache__/

social/__pycache__/
social/*/__pycache__/
social/*/*/__pycache__/
social/*/*/*/__pycache__/