{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container p-3 my-3 bg-secondary ">
        <form method="get">
            <label for="admin-search">Search in Wikidata:</label>
            <input type="search" id="admin-search" name="q"
                   aria-label="Search through site content" placeholder="keyword" value="{{ request.GET.q }}">
            <button type="submit" name="submit" value="submitted">Submit</button>
        </form>


        <form method="post">
            {% csrf_token %}
            {% for description in descriptions %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="choose_description" id="flexRadioDefault1"
                           value="{{ description }}">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{ description }}
                    </label>
                </div>
            {% endfor %}
            {% if is_choice == True %}
                <button type="submit" name="save" value="submitted"
                >Save
                </button>
            {% endif %}
        </form>
        
        {{ message }} <br>


        {% if type_interest == True %}
            <a type="button" class="btn btn-success" href="{% url 'profile' request.user.id %}">Back to Form</a>
        {% elif type_event == True %}
            <a type="button" class="btn btn-success" href="{% url 'event-create' %}">Back to Form</a>
        {% else %}
            <a type="button" class="btn btn-success" href="{% url 'service-create' %}">Back to Form</a>
        {% endif %}
    </div>



{% endblock content %}