{% extends 'landing/base.html' %}

{% block content %}
    {% load crispy_forms_filters %}
    <head>
        <title>Services</title>
    </head>
    <body>
    <br>
    <div class="container p-3 my-3 bg-secondary text-warning">
        <form method="get">
            <div class="form-group">
                <label for="period type">Period:</label>
                <select name="type" id="period type" onchange="this.form.submit()">
                    <option value="">--Select--</option>
                    <option value="default">Default periods</option>
                    <option value="pick">Pick Dates</option>
                </select>
            </div>
        </form>


        <form method="get">
            {% if type  == "default" %}
                <label for="period-select">Choose a period:</label>
                <select name="periods" id="period-select">
                    <option value="">--Select--</option>
                    <option value="all">All</option>
                    <option value="week">Last 7 Days</option>
                    <option value="month">Last 30 Days</option>
                    <option value="year">Last 365 Days</option>
                </select>
            {% elif type  == "pick" %}
                <label for="beginning">Beginning Date:</label>
                <input type="date" id="beginning" name="beginning">
                <label for="ending">Ending Date:</label>
                <input type="date" id="ending" name="ending">
            {% endif %}



            <label for="status-select">Status:</label>
            <select name="status" id="status-select">
                <option value="">--Select--</option>
                <option value="all">All</option>
                <option value="handshake">Handshake</option>
                <option value="isDeleted">Deleted</option>
                <option value="isActive">Inactive</option>
            </select>


            <label for="admin-search">Search:</label>
            <input type="search" id="admin-search" name="q"
                   aria-label="Search through site content">


            <label for="sort-select">Sort by:</label>
            <select name="sort" id="sort-select">
                <option value="">--Select--</option>
                <option value="name">Name</option>
                <option value="createddate">Creation Date</option>
                <option value="servicedate">Delivery Date</option>
            </select>
            <div class="form-group">
                <button type="submit" name="submit" value="submitted">Submit</button>
            </div>

        </form>
    </div>
    <br>

    <div class="container-sm">
        {% if show_count %}
            {{ service_count }} Service(s) found. <br>
        {% endif %}
        {{ period_message }} <br>
        {{ status_message }}


    </div>


    <br>


    <div class="container-sm">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Service Name</th>
                <th scope="col">Creator</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody>
            {% for service in page_obj %}
                <tr>
                    <!--1. column -->
                    <th scope="row">{{ forloop.counter0|add:page_obj.start_index }} </th>
                    <!--2. column -->
                    <td><a href="{{ service.get_absolute_url }}">{{ service.name }}</a></td>
                    <!--3. column -->
                    <td><a href="{% url 'profile' service.creater.profile.pk %}">{{ service.creater }}</a></td>
                    <!--3. column -->
                    <!--4. column -->
                    <td> {{ service.createddate }}</td>
                    <!--5. column -->
                    <td> {{ service.servicedate }}</td>
                    <!--6. column -->
                    <td>
                        {% if service.isDeleted == True %}
                            Service was deleted.
                        {% else %}
                            {% if service.is_given == True and service.is_taken == True %}
                                Handshake
                            {% elif service.is_given == True and service.is_taken == False %}
                                Waiting for Service Taker confirmation.
                            {% elif service.is_given == False and service.is_taken == True %}
                                Waiting for Service Provider confirmation.
                            {% elif service.is_given == False and service.is_taken == False %}
                                {% if service in outdated_services %}
                                    Delivery Date passed.
                                {% else %}
                                    {% for application in service.rel_services.all %}
                                        {% if forloop.last %}
                                            {{ forloop.counter }} Application(s) for The Service
                                        {% endif %}
                                    {% empty %}
                                        No Applications yet.
                                    {% endfor %}
                                {% endif %}

                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <br>


    </body>

    <div class="row">
        <div class="col-4 offset-4">
            <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page=1&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}"
                               class="page-link">First</a>
                        </li>

                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}"
                               class="page-link">Previous</a>
                        </li>

                        {% if not page_obj.has_next and page_obj.previous_page_number > 1 %}
                            <li class="page-item ">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number|add:'-1' }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">
                                    {{ page_obj.previous_page_number|add:'-1' }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">
                                {{ page_obj.previous_page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">First</span>
                        </li>

                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">
                                {{ page_obj.next_page_number }}
                            </a>
                        </li>
                        {% if not page_obj.has_previous and page_obj.next_page_number < page_obj.paginator.num_pages %}
                            <li class="page-item ">
                                <a class="page-link"
                                   href="?page={{ page_obj.next_page_number|add:'1' }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">
                                    {{ page_obj.next_page_number|add:'1' }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">Next</a>
                        </li>

                        <li class="page-item ">
                            <a class="page-link"
                               href="?page={{ page_obj.paginator.num_pages }}&sort={{ sort }}&status={{ status }}&type={{ type }}&periods={{ periods }}&beginning={{ beginning }}&ending={{ ending }}&q={{ q }}&submit={{ submit }}">Last</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>

                        <li class="page-item disabled">
                            <span class="page-link">Last</span>
                        </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

{% endblock content %}


