{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row" style="text-align:center;">
            <p></p>
            <h5>Admin Dashboard</h5>
            <p style="margin-top: 1%;"><a style="font-weight: bolder; text-decoration: none;" class="text-primary" href="{% url 'onlineusers' %}">Current online users: </a>{{ number_of_active_users }}</p>
            <p></p>
            <div class="col"><img src="/media/users_chart.png" /></div>
            <div class="col">
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Services Dashboard</p>  
                            <a class="stretched-link" href="{% url 'servicelist' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Events Dashboard</p> 
                            <a class="stretched-link" href="{% url 'eventlist' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Users Dashboard</p> 
                            <a class="stretched-link" href="{% url 'userlist' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Complaints</p> 
                            <a class="stretched-link" href="{% url 'complaints' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Deactivated Objects</p> 
                            <a class="stretched-link" href="{% url 'deactivateds' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Featured Services</p> 
                            <a class="stretched-link" href="{% url 'featuredservices' %}"></a>  
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <p style="font-weight:bold;">Featured Events</p> 
                            <a class="stretched-link" href="{% url 'featuredevents' %}"></a>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}