{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <h5 style="text-align:center;">All Users in CommUnity</h5>
            </br>
            {% for user in users %}
                <div class="row justify-content-center mt-1">
                    <div class="card col-md-10 col-sm-12 position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="border-radius:10px;" src="{{ user.picture.url }}" width="100" height="100" />
                            </div>
                            <div class="col-md-8">
                                <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' user.pk %}">@{{ user.user.username }}</a></p>      
                                {% if user.name %}
                                    <p>Name: {{ user.name }}</p>           
                                {% else %}
                                {% endif %}
                                <p>Bio: {{ user.bio }}</p>
                                <a class="stretched-link" href="{% url 'profile' user.pk %}"></a>                   
                            </div>          
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
{% endblock content %}
