{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-2">
                <a onClick="javascript:history.go(-1);" class="btn btn-light">Back</a>
            </div>
            <div class="col-md-8">
                <h5 style="text-align:center;">Complaints</h5>
            </div>
            <div class="col-md-2">
            </div>
            </br></br>
            {% if complaints_count != 0 %}
                {% for complaint in complaints %}
                    <div class="row justify-content-center mt-1">
                        <div class="card col-md-10 col-sm-12 position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                            <div class="row">
                                <div class="col-md-10">
                                    <a style="text-decoration: none;">@{{ complaint.complainter.username }} gave </a>     
                                    {% if complaint.feedback %}
                                        <a>feedback: "{{ complaint.feedback }}"</a>           
                                    {% else %}
                                    {% endif %}

                                    about <a style="text-decoration: none;" class="text-primary" href="{% url 'profile' complaint.complainted.pk %}">@{{ complaint.complainted.username }}</a>  
                                    <a>on {{ complaint.date }}</a>  
                                    
                                    {% if complaint.isDeleted %}
                                    {% else %}
                                        {% if complaint.isSolved %}
                                            <a class="stretched-link" href="{% url 'complaintsolve' complaint.pk %}"></a> 
                                        {% else %}
                                            <a class="stretched-link" href="{% url 'complaintuser' complaint.complainted.pk %}"></a> 
                                        {% endif %}
                                    {% endif %}                 
                                </div> 
                                <div class="col-md-2">
                                    {% if complaint.isSolved %}
                                        <div class="row">
                                            <a style="font-weight:bold;">Solved</a> 
                                        </div>
                                    {% endif %} 
                                </div> 
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="row justify-content-center mt-3">No complaints found!</p>
            {% endif %}
        </div>
        
    </div>
{% endblock content %}
