{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <h5 style="text-align:center;">Events</h5>
                </div>
                <div class="col">
                    <form class="d-flex" method="GET" action="{% url 'event-search' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Event" aria-label="Event" aria-describedby="basic-addon1" name='query' value="{{ request.GET.query }}">
                            <button style="border: none; background-color: white; box-shadow: none" type="submit">Search</button>
                        </div>
                      </form>
                </div>
            </div>
                <br/>
                {% for event in events %}
                    <div class="row justify-content-center mt-3">
                        <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:3%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="border-radius:10px;" src="{{ event.eventpicture.url }}" width="100" height="100" />
                                </div>
                                <div class="col-md-8">
                                    <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' event.eventcreater.profile.pk %}">@{{ event.eventcreater }}</a> created</p> 
                                    <p style="font-weight:bold;">{{ event.eventname }}</p>       
                                    <p>Time: {{ event.eventdate }}</p>
                                    <a class="stretched-link" href="{% url 'event-detail' event.pk %}"></a>                   
                                </div>          
                            </div>
                        </div>
                    </div>
                {% endfor %}
        </div>
        
    </div>
{% endblock content %}
