{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-1">
                <a onClick="javascript:history.go(-1);" class="btn btn-light">Back</a>
            </div>
            <div class="col-md-11">
                <h5 style="text-align:center;">Featured Events</h5>
            </div>
            </br>
            {% if events_count != 0 %}
                {% for event in events %}
                    <div class="row justify-content-center mt-1">
                        <div class="card col-md-10 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                            <div class="row">
                                <div class="col-md-2">
                                    <img style="border-radius:10px;" src="{{ event.eventpicture.url }}" width="100" height="100" />
                                </div>
                                <div class="col-md-6">
                                    <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' event.eventcreater.profile.pk %}">@{{ event.eventcreater }}</a> created</p> 
                                    <p style="font-weight:bold;">{{ event.eventname }}</p>       
                                    <p>Time: {{ event.eventdate }}</p>
                                    <a class="stretched-link" href="{% url 'event-detail' event.pk %}"></a>                   
                                </div>    
                                <div class="col-md-4">
                                    {% for featured in featureds %}
                                        {% if featured.itemId == event.pk %}
                                            <p>Featured Time: {{ featured.date }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>    
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="row justify-content-center mt-3">No events found!</p>
            {% endif %}
        </div>
        
    </div>
{% endblock content %}
