{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <h5 style="text-align:center;">Notifications</h5>     
                <br/>
                {% if notifications_count != 0 %}
                    {% for notification in notifications %}
                        <div class="row justify-content-center mt-1">
                            <div class="card col-md-11 col-sm-12 position-relative" style="border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                                <div class="row">
                                    {% if notification.offerType == "service" %}
                                        {% if notification.offerPk != 0 %}
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                            <a class="stretched-link" href="{% url 'service-detail' notification.offerPk %}"></a>
                                        {% else %}  
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% elif notification.offerType == "event" %}   
                                        {% if notification.offerPk != 0 %}
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                            <a class="stretched-link" href="{% url 'event-detail' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% elif notification.offerType == "user" %}   
                                        {% if notification.offerPk != 0 %}
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                            <a class="stretched-link" href="{% url 'profile' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% elif notification.offerType == "complaint" %}   
                                        {% if notification.offerPk != 0 %}
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                            <a class="stretched-link" href="{% url 'complaintsolve' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% else %} 
                                        {% if notification.offerPk != 0 %}
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                            <a class="stretched-link" href="{% url 'request-detail' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <div class="row" style="margin-top: 1%; margin-bottom: 1%;">
                                                <div class="col-md-9" style="text-align: left;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.notification }}
                                                </div>
                                                <div class="col-md-3" style="text-align: right;">
                                                    <span style="font-weight: bolder;"></span> {{ notification.date }}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}          
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="row justify-content-center mt-3">No notification found!</p>
                {% endif %}
        </div>
        
    </div>
{% endblock content %}
