{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <h5 style="text-align:center;">Notifications</h5>     
                <br/>
                {% if notifications_count != 0 %}
                    {% for notification in notifications %}
                        <div class="row justify-content-center mt-3">
                            <div class="card col-md-8 col-sm-12 border-bottom position-relative" style="border-radius:15px; background-color:whitesmoke; border-color: dimgrey; text-align: center;">
                                <div class="row">
                                    {% if notification.offerType == "service" %}
                                        {% if notification.offerPk != 0 %}
                                            <p>Notification: {{ notification.notification }}</p>
                                            <a class="stretched-link" href="{% url 'service-detail' notification.offerPk %}"></a>
                                        {% else %}  
                                            <p><span style="font-weight: bolder;">Notification:</span> {{ notification.notification }}</p>
                                        {% endif %}
                                    {% elif notification.offerType == "event" %}   
                                        {% if notification.offerPk != 0 %}
                                            <p><span style="font-weight: bolder;">Notification:</span> {{ notification.notification }}</p>
                                            <a class="stretched-link" href="{% url 'event-detail' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <p>Notification: {{ notification.notification }}</p>
                                        {% endif %}
                                    {% else %} 
                                        {% if notification.offerPk != 0 %}
                                            <p><span style="font-weight: bolder;">Notification:</span> {{ notification.notification }}</p>
                                            <a class="stretched-link" href="{% url 'request-detail' notification.offerPk %}"></a>  
                                        {% else %}  
                                            <p>Notification: {{ notification.notification }}</p>
                                        {% endif %}
                                    {% endif %}          
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="row justify-content-center mt-3">No notification found!</p>
                {% endif %}
        </div>
        
    </div>
{% endblock content %}
