{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="card shadow-sm col-md-8 col-sm-12 border-bottom px-5 pt-3">

            <div class="row">

                <div class="col"><img src="{{ profile.picture.url }}" class="rounded-circle" width="100" height="100" /></div>
            
                <div class="col">
                    {% if user == request.user %}
                    {% else %}
                    {% if is_following %}
                        <form method="POST" action="{% url 'remove-follower' request.user.pk profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-danger" type=submit>UnFollow</button>
                        </form>
                    {% else %}
                        <form method="POST" action="{% url 'add-follower' request.user.pk profile.pk %}">
                            {% csrf_token %}
                            <button class="btn btn-outline-success" type=submit>Follow</button>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>

            </div>

            {% if profile.name %}
            <h3 class="py-4">{{ profile.name }}             
                <span>
                    {% if request.user == user %}
                        <a class="btn btn-primary" href="{% url 'profile-edit' profile.pk %}">Edit</a>
                    {% endif %}
                </span>
                {% else %}
                <h3 class="py-4">{{ user.username }}
                    <span>
                        {% if request.user == user %}
                        <a href="{% url 'profile-edit' profile.pk %}" style="color: #333;">Edit</a>
                        {% endif %}
                    </span>
                </h3>
                {% endif %}
            </h3>
            
            {% if profile.location %}
            <p>{{ profile.location }}</p>
            {% endif %}
            {% if profile.birth_date %}
            <p>{{ profile.birth_date }}</p>
            {% endif %}
            {% if profile.bio %}
            <p>{{ profile.bio }}</p>
            {% endif %}
            <p>{{ profile.credithour }}</p>

            <div class="mb-3">
                <a href="{% url 'followers' profile.pk %}">Followers: {{ number_of_followers }}</a>
            </div>
        </div>
    </div>
    
</div>
{% endblock content %}