{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container p-3 my-3 bg-secondary ">
        <form method="get">
            <label for="category-select">Categories:</label>
            <select name="category" id="category-select">
                <option value="all">All</option>
                {% for cat in category_list %}
                    <option value="{{ cat }}"
                            {% if cat == cat_sel %}selected="selected"{% endif %}>{{ cat }}</option>
                {% endfor %}
            </select>

            <label for="admin-search">Search:</label>
            <input type="search" id="admin-search" name='query'
                   aria-label="Search through site content"
                   placeholder="keyword or location"
                   value="{{ request.GET.query }}">

            <label for="sort-select">Sort by:</label>
            <select name="sorting" id="sort-select">
                <option value="">--Select--</option>
                <option value="newest" {% if sorting == 'newest' %}selected{% endif %}>Creation Date (Newest)
                </option>
                <option value="rating" {% if sorting == 'rating' %}selected{% endif %}>Rating</option>
                <option value="name" {% if sorting == 'name' %}selected{% endif %}>Name</option>
                <option value="servicedate" {% if sorting == 'servicedate' %}selected={% endif %}>Delivery
                    Date
                </option>

            </select>
            <div class="form-group">
                <button type="submit" name="submit" value="submitted">Submit</button>
            </div>

        
        </form>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 style="text-align:center;">Services</h5>
                        </div>
                        <div class="col">


                        </div>
                    </div>
                </div>

            </div>
            <!--
            {% if services %}
                <div class="row" padding-top="20px">
                    <p align="end"><a href="{% url 'service-search' %}?query={{ query }}&&sorting=newest">Sort by
                        Newest</a>&nbsp;&nbsp;&nbsp;<a
                            href="{% url 'service-search' %}?query={{ query }}&&sorting=rating">Sort by Highest
                        Rated</a></p>
                </div>
            {% endif %}
            -->
            <br/>
            {% if services_count != 0 %}
                {% for service in services %}
                    <div class="row justify-content-center mt-1">
                        <div class="card col-md-10 col-sm-12 position-relative"
                             style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="border-radius:10px;" src="{{ service.picture.url }}" width="100"
                                         height="100"/>
                                </div>
                                <div class="col-md-8">
                                    <p><a style="text-decoration: none;" class="text-primary"
                                          href="{% url 'profile' service.creater.profile.pk %}">@{{ service.creater }}</a>
                                        created</p>
                                    <p style="font-weight:bold;">{{ service.name }}</p>
                                    <p>Time: {{ service.servicedate }}</p>
                                    <a class="stretched-link" href="{% url 'service-detail' service.pk %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="row justify-content-center mt-3">No services found!</p>
            {% endif %}
        </div>

    </div>
{% endblock content %}
