{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <br/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 style="text-align:center;">Services</h5>
                        </div>
                        <div class="col">

                            <form class="d-flex" method="GET" action="{% url 'service-filter' %}">
                                <div class="input-group">
                                    <label style="font-weight: bolder;">Categories:&nbsp;</label>
                                    <select name="category">
                                        <option value="all">All</option>
                                        {% for tag in alltags %}
                                            <option value="{{tag.pk}}">{{tag.tag}}</option>
                                        {% endfor %}  
                                    </select>
                                    &nbsp;
                                    <button style="border: none; background-color: white; box-shadow: none" type="submit">Filter</button>
                                </div>
                            </form>
    
                        </div>  
                    </div>
                      
                </div>
                <div class="col">
                    <form class="d-flex" method="GET" action="{% url 'service-search' %}">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search Service" aria-label="Service" aria-describedby="basic-addon1" name='query' value="{{ request.GET.query }}">
                            <button style="border: none; background-color: white; box-shadow: none" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
                <br/>
                {% if services_count != 0 %}
                    {% for service in services %}
                        <div class="row justify-content-center mt-3">
                            <div class="card col-md-12 col-sm-12 border-bottom position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img style="border-radius:10px;" src="{{ service.picture.url }}" width="100" height="100" />
                                    </div>
                                    <div class="col-md-6">
                                        <p><a style="text-decoration: none;" class="text-primary" href="{% url 'profile' service.creater.profile.pk %}">@{{ service.creater }}</a> created</p> 
                                        <p style="font-weight:bold;">{{ service.name }}</p>       
                                        <p>Time: {{ service.servicedate }}</p>
                                        <a class="stretched-link" href="{% url 'service-detail' service.pk %}"></a>                   
                                    </div>   
                                    {% if service.servicedate <= currentTime %}
                                        <div class="col-md-2">
                                            <p style="font-weight:bold;">Datetime Passed</p>  
                                            <p></p> 
                                            <p></p>                
                                        </div> 
                                    {% endif %}         
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="row justify-content-center mt-3">No services found!</p>
                {% endif %}
        </div>
        
    </div>
{% endblock content %}
