<head>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/calendar.js"></script>
    <script type="text/javascript" src="/static/location_field/js/form.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">

    <meta name="robots" content="NONE,NOARCHIVE">
</head>

{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
    <p >{{ message }}</p>
    </div>
    <div class="container p-3 my-3 bg-secondary ">
        <form method="get" enctype='multipart/form-data'>
            <div class="form-group">
                <label for="period type">Location:</label>
                <select name="slocation" id="period type" onchange="this.form.submit()">
                    <option value="all" {% if slocation == 'all' %}selected{% endif %}>All</option>
                    <option value="map" {% if slocation == 'map' %}selected{% endif %}>Use Map Coordinates</option>
                    <option value="home" {% if slocation == 'home' %}selected{% endif %}>From Home Address (10 km)</option>
                </select>
            </div>
            {% if slocation == "map" %}
            <label for="{{ form.city.id_for_label }}">Location Name:</label>
            {{ form.city }}
            <div class="fieldWrapper">
                <label for="{{ form.location.id_for_label }}">Coordinates:</label>
                {{ form.location }}
            </div> <br>
            <label for="distance">Select Range:</label>
            <input type="number" id="distance" name="distance_target_s" min="5" max="150"  value="{{distance_target_s }}">
            <br>
            {% endif %}

            <label for="category-select">Categories:</label>
            <select name="category" id="category-select">
                <option value="all" {% if category == 'all' %}selected{% endif %}>All</option>
                {% for cat in category_list %}
                    <option value="{{ cat }}"
                            {% if cat == category %} selected {% endif %} >{{ cat }}</option>
                {% endfor %}
            </select>

            <label for="admin-search">Search:</label>
            <input type="search" id="admin-search" name='query'
                   aria-label="Search through site content"
                   placeholder="keyword"
                   value="{{ request.GET.query }}">

            <label for="sort-select">Sort by:</label>
            <select name="sorting" id="sort-select">
                <option value="">--Select--</option>
                <option value="newest" {% if sorting == 'newest' %}selected{% endif %}>Creation Date (Newest)
                </option>
                <option value="rating" {% if sorting == 'rating' %}selected{% endif %}>Rating</option>
                <option value="name" {% if sorting == 'name' %}selected{% endif %}>Name</option>
                <option value="servicedate" {% if sorting == 'servicedate' %}selected={% endif %}>Delivery
                    Date
                </option>
            </select>
            <div class="form-group">
                <button type="submit" name="submit" value="submitted">Submit</button>
            </div>
        </form>
    </div>
    <div class="container">
        <br/>
        <div class="row">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <h5 style="text-align:center;">Services</h5>
                        </div>
                        <div class="col">
                        </div>
                    </div>
                </div>

            </div>
            <!--
            {% if page_obj %}
                <div class="row" padding-top="20px">
                    <p align="end"><a href="{% url 'service-search' %}?query={{ query }}&&sorting=newest">Sort by
                        Newest</a>&nbsp;&nbsp;&nbsp;<a
                            href="{% url 'service-search' %}?query={{ query }}&&sorting=rating">Sort by Highest
                        Rated</a></p>
                </div>
            {% endif %}
            -->
            <br/>
            {% if services_count != 0 %}
                {% for service in page_obj %}
                    <div class="row justify-content-center mt-1">
                        <div class="card col-md-10 col-sm-12 position-relative"
                             style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="border-radius:10px;" src="{{ service.picture.url }}" width="100"
                                         height="100"/>
                                </div>
                                <div class="col-md-8">
                                    <p><a style="text-decoration: none;" class="text-primary"
                                          href="{% url 'profile' service.creater.profile.pk %}">@{{ service.creater }}</a>
                                        created</p>
                                    <p style="font-weight:bold;">{{ service.name }}</p>
                                    <p>Time: {{ service.servicedate }}</p>
                                    {% if slocation == "map" or slocation == "home"%}
                                    <p>Address: {{ service.address }}</p>
                                    {% endif %}
                                    <a class="stretched-link" href="{% url 'service-detail' service.pk %}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p class="row justify-content-center mt-3">No services found!</p>
            {% endif %}
        </div>

    </div>
    <br>

     <div class="row">
        <div class="col-4 offset-4">
            <nav aria-label="...">
                <ul class="pagination pagination-sm justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page=1&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}"
                               class="page-link">First</a>
                        </li>

                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}"
                               class="page-link">Previous</a>
                        </li>

                        {% if not page_obj.has_next and page_obj.previous_page_number > 1 %}
                            <li class="page-item ">
                                <a class="page-link"
                                   href="?page={{ page_obj.previous_page_number|add:'-1' }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">
                                    {{ page_obj.previous_page_number|add:'-1' }}
                                </a>
                            </li>
                        {% endif %}
                        <li>
                            <a class="page-link"
                               href="?page={{ page_obj.previous_page_number }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">
                                {{ page_obj.previous_page_number }}
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">First</span>
                        </li>

                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}

                    <li class="page-item active">
                        <span class="page-link">{{ page_obj.number }}</span>
                    </li>

                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">
                                {{ page_obj.next_page_number }}
                            </a>
                        </li>
                        {% if not page_obj.has_previous and page_obj.next_page_number < page_obj.paginator.num_pages %}
                            <li class="page-item ">
                                <a class="page-link"
                                   href="?page={{ page_obj.next_page_number|add:'1' }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">
                                    {{ page_obj.next_page_number|add:'1' }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="page-item ">
                            <a class="page-link"
                               href="?page={{ page_obj.next_page_number }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">Next</a>
                        </li>

                        <li class="page-item ">
                            <a class="page-link"
                               href="?page={{ page_obj.paginator.num_pages }}&services_count={{ services_count }}&currentTime={{ currentTime }}&alltags={{ alltags }}&query={{ query }}&cat_sel={{ cat_sel }}&sorting={{ sorting }}&slocation={{ slocation }}&distance_target_s={{ distance_target_s }}&category={{ category }}">Last</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">Next</span>
                        </li>

                        <li class="page-item disabled">
                            <span class="page-link">Last</span>
                        </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
{% endblock content %}
