{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-3">
            <div class="col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4 style="text-align:center;">TimeLine lists activities of who you follow!</h4>
                    </div>
                </div>
                <br/>
            </div>
        </div>
            {% if log_count != 0 %}
                {% for log in logs %}
                <div class="row justify-content-center mt-1">
                    <div class="card col-md-8 position-relative" style="padding:1%; border-radius:15px; background-color:whitesmoke; border-color: dimgrey;">
                        <div class="row">
                            <div class="col-md-1">
                                <img style="border-radius:10px;" src="{{ log.userId.profile.picture.url }}" width="40" height="40" />
                            </div>
                            <div class="col-md-11">
                                <a style="text-decoration: none;" class="text-primary" href="{% url 'profile' log.userId.profile.pk %}">@{{ log.userId.profile.user.username }}</a>{{ log.operation }}
                                {% if log.itemType == "service" %}
                                    {% for serviceItem in allServices %}
                                        {% if log.itemId == serviceItem.pk %}
                                            <a style="font-weight:bold;">{{ serviceItem.name }}</a>   
                                        {% endif %}
                                    {% endfor %}
                                    {% for serviceItemToClick in allServicesToClick %}
                                        {% if log.itemId == serviceItemToClick.pk %}
                                            <a class="stretched-link" href="{% url 'service-detail' serviceItemToClick.pk %}"></a>  
                                        {% endif %}
                                    {% endfor %}
                                {% elif log.itemType == "event" %}
                                    {% for eventItem in allEvents %}
                                        {% if log.itemId == eventItem.pk %}
                                            <a style="font-weight:bold;">{{ eventItem.eventname }}</a>   
                                        {% endif %}
                                    {% endfor %}
                                    {% for eventItemToClick in allEventsToClick %}
                                        {% if log.itemId == eventItemToClick.pk %}
                                            <a class="stretched-link" href="{% url 'event-detail' eventItemToClick.pk %}"></a>  
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    {% for userItem in allUsers %}
                                        {% if log.itemId == userItem.pk %}
                                            <a style="font-weight:bold;">{{ userItem.user.username }}</a>   
                                        {% endif %}
                                    {% endfor %}
                                    {% for userItemToClick in allUsersToClick %}
                                        {% if log.itemId == userItemToClick.pk %}
                                            <a class="stretched-link" href="{% url 'profile' userItemToClick.user.pk %}"></a>  
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}      
                                <a>on {{ log.date }}</a>      
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p class="row justify-content-center mt-3">No activity found from people you follow!</p>
            {% endif %}
    </div>
{% endblock content %}
